/* ---------------------------------------------------------------------
https://www.lipsum.com/feed/html */
/* Body styles */

body{ 
	margin: 0; /* amount of space wanted around the body */
	font-family: Arial, Helvetica, sans-serif; /* font families in order of precidence */
	font-size: 16px; /* font size */
	line-height: 1.5; /* space between each line */
}

/* --------------------------------------------------------------------- */
/* Header styles */

header{
	background: #222222; /* bg colour */
	padding: 20px 30px; /* top & bottom: 20px,  right & left: 30px */
}

#header-content{
     color: #ffffff; /* font colour */
}

#header-logo{ 
    font-weight: bold; /* font weight */
	display: inline-block; /* allows element to sit on same line as siblings */
}

#header-logo img{
	width: 50px; /* width of content area */
	margin-right: 8px; /* pushes the right margin 8px */
	vertical-align: middle; /* puts image into the middle of its allowed height */
}

#header-navigation{
	float: right; /* align nav to the right of page */
}

#header-navigation ul{
	list-style: none; /* remove styles */
	padding: 0; /* remove padding */
}

#header-navigation li{
	display: inline-block; /* allows element to sit on same line as siblings */
}

#header-navigation a{
	color: #ffffff; /* colour links white */
	text-decoration: none; /* remove underscores */
    padding-left: 15px; /* right padding */
    padding-right: 15px; /* left padding */
}

#header-navigation a:hover{
	color: #444444; /* hover colour */
	border-radius: 3px; /* radius covered */
	transition: 0.3s ease all; /* transition properties */
}

/* --------------------------------------------------------------------- */
/* Hero styles */

#hero{ 
	min-height: 800px; /*gives element a minimum height */
	background-image: url('../img/stadium/football-g820e35a59_1920.jpg');  /* link to image */
	background-size: cover;  /*make image cover element*/
}

#hero-content{
	color: #ffffff; /* text colour */
    text-align: center; /* center align text */
	padding-top: 90px; /*130px;*/ /* top padding */
}

#hero-title{
	margin: 0; /* remove margins */
	font-size: 100px; /* font saize */
}

/* --------------------------------------------------------------------- */
/* Section styles */

section{
	padding: 50px 30px; /* top & bottom: 50px,  right & left: 30px */
}

.section-header{
	font-size: 1.5em; /* font size NOTE - 1.5 times the size of section body text */ 
	text-align: center; /* center text */
	margin-bottom: 30px; /* margin bottom */
	letter-spacing: 2px; /* letter spacing */
	font-weight: bold; /* font weight */
	color: #777777; /* font colour */
}

.section-body {
	font-size: 1em; /* font size */
}

/* --------------------------------------------------------------------- */
/* News section styles */

#news-section{
	column-count: 3; /* number of columns */
  	column-gap: 50px; /* gap between columns */
  	column-rule: 1px solid #add8e6; /* line betweeen columns */
}

#news-section .section-header{
	column-span: all; /* make header span all columns */
}

/* --------------------------------------------------------------------- */
/* Fixtures section styles */

#fixtures-section{
	background: #ECF0F1; /* colour section */
	width: 100%; /* use 100% width */
	padding: 50px 0; /* top & bottom: 50px,  right & left: 0px */
	text-align: center; /* center text */
}

#fixtures-section .section-body{
	padding: 0px 30px; /* top & bottom: 0px,  right & left: 30px */
}

#fixtures{
	/*padding-top: 30px;*/
	
}

/*-----------------------------------*/


#fixtures-grid-container {
	display: grid;
	grid-template-columns: auto auto;
}


.fixture-grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
}


.fixture-grid-item{

}

.fixture-grid-item img{
	width: 50px; /* width of content area */
	vertical-align: middle; /* puts image into the middle of its allowed height */
}

.fixture-grid-item p{
	font-weight: bold; /* font weight */
	color: #777777; /* font colour */
	margin-bottom: 0%; /* remove margin bottom */
}

/*-----------------------------------*/

.fixture{
	/*background: #ffffff; /* colour section ????????????*/
	padding-top: 15px;
	padding-bottom: 15px;
	/*height: 90px; ???????????????????*/
	/*display: flex;*/
	/*display: inline-block;
	width: 49%;*/
	
}

.team {
	display: inline-block;
	/*letter-spacing: 2px; /* letter spacing */
	margin-left: 30px;
	margin-right: 30px;
}

.team p{
	font-weight: bold; /* font weight */
	color: #777777; /* font colour */
	margin-bottom: 0%;
}

.score {
	display: inline-block;
	/*position:absolute;*/
    /*text-align:center;*/
	/*height: auto;*/

}

.score h3{
	margin: 0%;
	/*padding-bottom: 30px;*/
}

.fixture img{
	width: 60px; /* width of content area */
	vertical-align: middle; /* puts image into the middle of its allowed height */
	/*background-image: url('../img/team-logos/team4.png');  /* link to image */
	/*background-size: cover;  /*make image cover element*/
}