/* ---------------------------------------------------------------------
/* body styles */

body{ 
	margin: 0; /* amount of space wanted around the body */
	font-family: Arial, Helvetica, sans-serif; /* font families in order of precidence */
	font-size: 16px; /* font size */
	line-height: 1.5; /* space between each line */
}

/* --------------------------------------------------------------------- */
/* header styles */

header{
	background: #222222; /* bg colour */
	padding: 20px 30px; /* top & bottom: 20px,  right & left: 30px */
}

#header-container{
     color: #ffffff; /* font colour */
}

#header-logo{ 
    font-weight: bold; /* font weight */
	display: inline-block; /* allows element to sit on same line as siblings */
}

#header-logo img{
	width: 50px; /* width of content area */
	margin-right: 8px; /* pushes the right margin 8px */
	vertical-align: middle; /* puts image into the middle of its allowed height */
}

#header-navigation{
	float: right; /* align nav to the right of page */
}

#header-navigation ul{
	list-style: none; /* remove styles */
	padding: 0; /* remove padding */
}

#header-navigation li{
	display: inline-block; /* allows element to sit on same line as siblings */
}

#header-navigation a{
	color: #ffffff; /* colour links white */
	text-decoration: none; /* remove underscores */
    padding-left: 15px; /* right padding */
    padding-right: 15px; /* left padding */
}

#header-navigation a:hover{
	color: #444444; /* hover colour */
	border-radius: 3px; /* radius covered */
	transition: 0.3s ease all; /* transition properties */
}

/* --------------------------------------------------------------------- */
/* hero styles */

#hero{ 
	min-height: 800px; /*gives element a minimum height */
	background-image: url('../img/pitch/pitch.jpg');  /* link to image */
	background-size: cover;  /*make image cover element*/
}

#hero-container{
	color: #ffffff; /* text colour */
    text-align: center; /* center align text */
	padding-top: 90px; /*130px;*/ /* top padding */
}

#hero-title{
	margin: 0; /* remove margins */
	font-size: 100px; /* font saize */
}

/* --------------------------------------------------------------------- */
/* section styles */

section{
	padding: 50px 30px; /* top & bottom: 50px,  right & left: 30px */
}

.section-header{
	font-size: 1.5em; /* font size */ /* NOTE - 1.5 times larger than .section-body text */ 
	text-align: center; /* center text */
	margin-bottom: 30px; /* margin bottom */
	letter-spacing: 2px; /* letter spacing */
	font-weight: bold; /* font weight */
	color: #777777; /* font colour */
}

.section-body {
	font-size: 1em; /* font size */ /* NOTE - 1.5 times smaller than .section-header text */
}

/* --------------------------------------------------------------------- */
/* news section styles */

#news-section{
	column-count: 3; /* number of columns */
  	column-gap: 50px; /* gap between columns */
  	column-rule: 1px solid #add8e6; /* line betweeen columns */
}

#news-section .section-header{
	column-span: all; /* make header span all columns */
}

/* --------------------------------------------------------------------- */
/* fixtures section styles */

#fixtures-section{
	background: #ECF0F1; /* colour section */
	width: 100%; /* use 100% width */
	padding: 50px 0; /* top & bottom: 50px,  right & left: 0px */
	text-align: center; /* center text */
}

#fixtures-section .section-body{
	padding: 0px 30px; /* top & bottom: 0px,  right & left: 30px */
}

#fixtures-grid-container{
	display: grid; /* display as grid */
	grid-template-columns: auto auto auto; /* 3 auto sized cols */
	grid-gap: 60px 100px; /* row gap: 60px, col gap: 100px */
	padding: 30px 30px 20px 30px; /* top, right, bottom, left */
}

.fixture-grid-container{
	display: grid;
	grid-template-columns: 120px 40px 120px;
	grid-gap: 0px 0px;
}

.fixture-grid-item img{
	width: 60px; /* width of content area */
	vertical-align: middle; /* puts image into the middle of its allowed height */
}

.fixture-grid-item p{
	font-weight: bold; /* font weight */
	color: #777777; /* font colour */
	margin-bottom: 0%; /* remove margin bottom */
}

.fixture-score-seperator{
	color: #777777; /* font colour */
}

/* --------------------------------------------------------------------- */
/* admin section styles */
 
#admin-section .section-body{
	text-align: center;
}

#admin-container{
	display: table;
  	width: 90%;
	margin-left: auto;
    margin-right: auto;
}

.staff-col{
	display: table-cell;
	/*padding: 20px;*/
	padding: 20px 20px 0px 20px; /* top, right, bottom, left */
	width: 33%; /* fit 3 into page width */
}

.staff-col h3{
	font-size: 24px;
	/*margin: 0;
	padding-top: 15px;*/
	margin-top: 0;
	margin-bottom: 15px;
	color: #777777;
}

.staff-col img{
	width: 80px;
	/*margin-bottom: 15px;*/
	border-radius: 50%;
}

.staff-col h5{
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 20px;
	color: #999999;
	/*font-weight: bold;*/
	/*letter-spacing: 2px;*/
}

.staff-text{
	background: #ecf0f1;
	text-align: left;
	padding: 15px;
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
	/*border-radius: 10px;*/
}

/* --------------------------------------------------------------------- */
/* footer styles */

footer{
	background: #222222; /*bg colour*/
	color: #777777; /*text colour*/
	padding: 20px;
	text-align: center; /*pushes text to center*/
}